.animate__animated.animate__heartBeat{
    animation-iteration-count: infinite;
}
.animate__animated.animate__flipInX{
    animation-iteration-count: infinite;
}
.animate__animated.animate__zoomIn:hover {
    animation-iteration-count: infinite;
}
.animate__animated.animate__bounceInUp{
animation-iteration-count: infinite;
}
