.articulos {

    height: 500px;
    padding: 30px;

    .card {
        max-width: 600px;
        width: 80%;
        margin: 20px;
        text-align: center;

        &-header {
            font-weight: bold;
        }
    }
}


.list-group-item:hover {


    text-decoration: none;
    opacity: 0.5;
    background-color: #656060;
    width: 100%;

}
.boton{
    border-radius: 20px;
    box-sizing: border-box;
    background: #226da6;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    cursor: pointer;
}