.articulos {

    height: 500px;
    padding: 30px;

    .card {
        max-width: 600px;
        width: 80%;
        margin: 20px;
        text-align: center;

        &-header {
            font-weight: bold;
        }
    }
}


.list-group-item:hover {


    text-decoration: none;
    opacity: 0.5;
    background-color: #656060;
    width: 100%;

}