header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    left: 0;
    right: 0;


    nav {
        padding: 2rem;
        background-color: #347ac0 !important;


        .navbar-collapse {
            align-items: center;
            justify-content: space-between;
        }
    }
}