header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    left: 0;
    right: 0;


    nav {
        padding: 2rem;

        
            background: linear-gradient(45deg, rgb(157, 0, 255), blue, green, black);
            animation: anime 10s ease infinite;
            background-size: 400% 400%;
            
        .navbar-collapse {
            align-items: center;
            justify-content: space-between;
        }
    }
}