.iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border-radius: 50%;
    transition: all 0.2s ease-in;

    &:hover {


        background-color: $blanco;
        border: 2px solid rgb(13, 110, 253);
    }

    i {

        font-size: 1.5rem;
        transition: all 0.2s ease-in;
    }

    &:hover i {
        color: #0a0a23;

    }
}






.derecho {
    font-size: 15px;
    color: $blanco;
    padding: 20px;
}

.icono {
    position:fixed;
    width: 40px;
    height: 40px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    color: #25D366;
    text-align: center;
    font-size: 60px;
    z-index: 100;

}