.overlay {
    @include overdetalle;

    p {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 0;
        text-transform: uppercase;
        text-shadow: 0px 5px 3px blueviolet;
        // @media screen and (max-width:400px)
        @include medidas ("400px")
        {
            font-size: 18px;
        }
    }

    .iconos-contenedor {
        display: flex;
        justify-content: space-around;
    }

    i {
        color: black;
        font-size: 60px;
        margin: 10px;
        @include medidas ("400px")
        {
            font-size: 40px;
        }
    }

}


.proyecto {

    position: relative;

    &s-recientes {
        padding: 40px;
        scroll-margin-top: 100px;

        img {
            height: 100%;
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            display: block;
            transition: all 0.2s ease;

        }
    }

    &-contenedor {
        padding-top: 60px;
        margin-bottom: 40px;
    }



    &:hover img {
        opacity: 0.2;
    }

    &:hover .overlay {
        opacity: 1;



    }
}



.btn-info {
    font-size: 1.1rem;
    margin: 20px;
    font-weight: bold;

}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #615151;
}

.texto-blanco {
    color: $blanco;
}

.texto-negro {
    color: $negro;
}
p, .descripcion{
    font-family: 'Sometype Mono', monospace;
    font-weight: 100;
}