section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 400;

}

h2 {
    font-size: 2rem;
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: 200;

}


.hero {
    &-principal {

        padding: 100px 30px 30px;

        h2 {
            font-size: 1.5rem;
            color: #615151;
        }
    }

    &-inferior {
        text-align: center;
        padding-bottom: 15px;
    }

}

// seccion sobre mi
.sobre-mi .contenedor {
    width: auto;
    text-align: center;
}