.animate__animated.animate__heartBeat{
    animation-iteration-count: infinite;
}
.animate__animated.animate__flipInX{
    animation-iteration-count: infinite;
}

@keyframes texto {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 50%;
    }
    100%{
        opacity: 100%;
        
    }
}


.seccion-titulo{
    animation-name: texto;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}