.nuestra-ubicacion
{
padding-top: 50px;
display: flex;
text-align: center;
justify-content: space-around;
text-decoration: overline;
padding-bottom: 100px;
animation-name:texto;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

.mapouter
{
margin-bottom: 100px;
}
